<div class='control'>
  {{#if label}}
    <label class='control__label' for='{{name}}'>{{label}}</label>
  {{/if}}
  <input
    class='control__input'
    name="{{name}}"
    id="{{name}}"
    type='text'
    {{#if value }}
      value="{{value}}"
    {{/if}}
    {{#if placeholder }}
      placeholder="{{placeholder}}"
    {{/if}}
    autocomplete
  />
  <div class="control__feedback">Ошибка! Какой-то текст!</div>
</div>